meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
title 3Clean - Dashboard Management
link(rel='stylesheet' href=`${baseUrl}/public/vendors/mdi/css/materialdesignicons.min.css`)
link(rel='stylesheet' href=`${baseUrl}/public/vendors/css/vendor.bundle.base.css`)
link(rel='stylesheet' href=`${baseUrl}/public/css/style.css`)
link(rel='shortcut icon' href=`${baseUrl}/public/assets/images/logo-mini.png`)
link(rel='stylesheet' href='https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css')

// Placeholder for page-specific CSS
block pageStyles