extends ../../layout

block pageStyles
    link(rel='stylesheet' href=`${baseUrl}/public/css/texttag.css`)

block content
    .page-header
        h3.page-title  #{data ? 'Edit Order' : 'Create New Order'}
        nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item 
                    a(href=`${baseUrl}/dashboard`) Dashboard
                li.breadcrumb-item 
                    a(href=`${baseUrl}/dashboard/orders/list`) Order List
                li.breadcrumb-item.active(aria-current='page') #{data ? 'Edit Order' : 'Create New Order'}
    .row
        .col-lg-12.grid-margin.stretch-card
            .card
                .card-body
                    form#form-customer.form-sample(enctype="multipart/form-data" method="POST")
                        .row
                            .col-md-12
                                .form-group.row
                                    .col-sm-6
                                        label(for='firstname') Customer Firstname
                                        input#inputId(type='hidden' name='inputId' value=data ? data._id : '')
                                        input#firstname.form-control(name='firstname' type='text' placeholder='Firstname..' required value=data ? data.firstname : '')
                                    .col-sm-6
                                        label(for='lastname') Customer Lastname
                                        input#lastname.form-control(name='lastname' type='text' placeholder='Lastname..' required value=data ? data.lastname : '')
                        .row
                            .col-md-12
                                .form-group.row
                                    .col-sm-6
                                        label(for='email') Customer Email
                                        input#email.form-control(name='email' type='text' placeholder='Email..' required value=data ? data.email : '')
                                    .col-sm-6
                                        label(for='phone') Customer Phone
                                        input#phone.form-control(name='phone' type='text' placeholder='Phone..' required value=data ? data.phone : '')   
                        .row
                            .col-md-12
                                .form-group.row
                                    .col-sm-6
                                        label(for='scheduleddate') Scheduled Date
                                        input.form-control#scheduleddate(name="scheduleddate" type="date" placeholder="input scheduled date..") 
                                    .col-sm-6
                                        label(class="label font-semibold") Scheduled Time
                                        input.form-control#scheduledtime(name="scheduledtime" type="time" placeholder="input scheduled time..") 

                        .row
                            .col-md-12 
                                .form-group.row 
                                    .col-sm-12
                                        label(for='address') Customer Address
                                        textarea#address.form-control(name='address' placeholder='Enter customer address..' required)= data ? data.address : '' 
                        
                    form#form-service.form-sample(enctype="multipart/form-data" method="POST")
                        .row
                            .col-md-12
                                .form-group.row
                                    .col-sm-6
                                        label(for='serviceId') Service Name
                                        select#serviceId.form-control(name="serviceId")
                                            each option in services
                                                option(value=option.name, selected=data && data.serviceId === option._id)= option.name
                                    .col-sm-6
                                        label(for='serviceId') Package Detail
                                        select#pkgname.form-control(name="pkgname")
                        .row
                            .col-md-12 
                                .form-group.row 
                                    .col-sm-12
                                        label(for='homesize') Home Size
                                        select#homesize.form-control(name="homesize")
                                            option(value="Apartment") Apartment
                                            option(value="Single Story Home") Single Story Home
                                            option(value="Double Story Home") Double Story Home
                                            option(value="Three Story Home") Three Story Home         


                    form#form-addon.form-sample(enctype="multipart/form-data" method="POST")
                        .row
                            .col-md-12 
                                .form-group.row 
                                    .col-sm-12
                                        label(for="addonslist") Choose Add-ons:
                                        select.form-control#addonslist(name="addonslist[]" multiple onchange="updateSelectedServicesFromSelect(this)")
                                            each service in addOns
                                                option(value=service.name)= service.name
                    .text-right
                                button#submitForm.btn.btn-gradient-primary.mr-2(type='button') Submit
                                button.btn.btn-light Clear Form

block pageScripts
    script(defer src=`${baseUrl}/public/js/forms/form-order.js`)


                                        
                            
                        