extends ../../layout

block pageStyles
  link(rel='stylesheet' href=`${baseUrl}/public/css/tableformat.css`)

block content
    .page-header
        a.btn.btn-gradient-primary.btn-fw(href=`${baseUrl}/dashboard/orders/create`) Create Order
        nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item 
                    a(href=`${baseUrl}/dashboard`) Dashboard
                li.breadcrumb-item.active(aria-current='page') List Order
    .row
        .col-lg-12.grid-margin.stretch-card
            .card
                .card-body
                    table#productTable.table.table-responsive.table-hover.w-100
                        thead
                            tr
                                th ORDER CODE
                                th CUSTOMER NAME
                                th CUSTOMER EMAIL
                                th CUSTOMER PHONE
                                th CUSTOMER ADDRESS
                                th SERVICE NAME
                                th SERVICE PRICE
                                th ACTIONS
                        tbody
                            each l in list
                                tr
                                    td= l.orderId
                                    td= l.orderDetails.customer.firstname+' '+l.orderDetails.customer.lastname 
                                    td= l.orderDetails.customer.email
                                    td= l.orderDetails.customer.phone
                                    td= l.orderDetails.customer.address
                                    td
                                        | #{l.orderDetails.package.name}
                                        br
                                        | #{l.orderDetails.package.detailPackage.name}
                                        br
                                        | Add-Ons :
                                        each addon in l.orderDetails.addOns
                                            br
                                            | #{addon.name}
                                    td= l.orderDetails.totalPrice
                                    td.text-center
                                        a.btn.btn-primary.btn-sm(href=`/dashboard/orders/edit/${l._id}` title="Edit")
                                            i.mdi.mdi-grease-pencil 
                                        a.btn.btn-danger.btn-sm(href=`/dashboard/orders/delete/${l._id}` title="Delete" onclick="return confirm('Are you sure you want to delete this item?')") 
                                            i.mdi.mdi-delete
