extends ../layout

block content
    .row
        .col-md-4.stretch-card.grid-margin
            .card.bg-gradient-info.card-img-holder.text-white
                .card-body
                    img.card-img-absolute(src=`${baseUrl}/public/assets/images/dashboard/circle.svg` alt='circle-image')
                    h4.font-weight-normal.mb-3
                        | Total Services
                        i.mdi.mdi-package-variant-closed.mdi-48px.float-right
                    h2.mb-5  #{data ? data.packageCount : '0'}
                    h6.card-text Packages #{data ? data.detailPackageCount : '0'}
                    h6.card-text AddOns #{data ? data.addOnCount : '0'}
        .col-md-4.stretch-card.grid-margin
            .card.bg-gradient-info.card-img-holder.text-white
                .card-body
                    img.card-img-absolute(src=`${baseUrl}/public/assets/images/dashboard/circle.svg` alt='circle-image')
                    h4.font-weight-normal.mb-3
                        | Booking Order
                        i.mdi.mdi-wallet-giftcard.mdi-48px.float-right
                    h2.mb-5 #{data ? data.ordersCount : '0'}
                    h6.card-text Pending #{data ? data.ordersPendingCount : '0'}
                    h6.card-text On Progress  #{data ? data.ordersOnProgressCount : '0'}
                    h6.card-text Completed  #{data ? data.ordersSuccedCount : '0'}
        .col-md-4.stretch-card.grid-margin
            .card.bg-gradient-info.card-img-holder.text-white
                .card-body
                    img.card-img-absolute(src=`${baseUrl}/public/assets/images/dashboard/circle.svg` alt='circle-image')
                    h4.font-weight-normal.mb-3
                        | Total Users
                        i.mdi.mdi-diamond.mdi-48px.float-right
                    h2.mb-5 #{data ? data.usersCount : '0'}
                    h6.card-text Admins #{data ? data.adminsCount : '0'}
                    h6.card-text Cleaners #{data ? data.cleanersCount : '0'}
                    h6.card-text Customer #{data ? data.customersCount : '0'}
