doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title 3Clean - Dashboard Management
  // plugins:css
  link(rel='stylesheet' href=`${baseUrl}/public/vendors/mdi/css/materialdesignicons.min.css`)
  link(rel='stylesheet' href=`${baseUrl}/public/vendors/css/vendor.bundle.base.css`)

  link(rel='stylesheet' href=`${baseUrl}/public/css/style.css`)
  // End layout styles
  link(rel='shortcut icon' href=`${baeUrl}/public//assets/images/favicon.icologo-mini.png`)
.container-scroller
  .container-fluid.page-body-wrapper.full-page-wrapper
    .content-wrapper.d-flex.align-items-center.text-center.error-page.bg-primary
      .row.flex-grow
        .col-lg-7.mx-auto.text-white
          .row.align-items-center.d-flex.flex-row
            .col-lg-6.text-lg-right.pr-lg-4
              h1.display-1.mb-0 404
            .col-lg-6.error-page-divider.text-lg-left.pl-lg-4
              h2 SORRY!
              h3.font-weight-light The page you&rsquo;re looking for was not found.
          .row.mt-5
            .col-12.text-center.mt-xl-2
              a.text-white.font-weight-medium(href=`${baseUrl}/`) Back to home
          .row.mt-5
            .col-12.mt-xl-2
              p.text-white.font-weight-medium.text-center Copyright &copy; 2025 3 Clean Sidney All rights reserved.
script(src=`${baseUrl}/public/vendors/js/vendor.bundle.base.js`)
script(src=`${baseUrl}/public/js/off-canvas.js`)
script(src=`${baseUrl}/public/js/hoverable-collapse.js`)
script(src=`${baseUrl}/public/js/misc.js`)

